/*
* Background Images - Practice
* CSS Styles
*
*/



/* General */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Noto Sans Shavian", sans-serif;
    color:rgb(247, 247, 247);
    background-image: url(/Band_Landing/img/bg.png);
    background-color: rgb(65, 61, 61);
}

/* Header */
header{
    width: 100%;
    height: 450px;
    background: url(/Band_Landing/img/bg-01.jpg) no-repeat;
    background-size: cover;
    background-position-y: -220px;
}
header #topbar .container{
    
    height: 20px;   
    background-color: rgb(4, 3, 3, 0.5);
    
}
header .container,#topbar .container{
    padding: 20px 220px 20px 220px;
}

.menu{
    display: flex;
}

li{
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
}

header #topbar, .container a {
    display:block;
    text-decoration: none;
    padding: 0 13px 0 13px;
    text-transform: uppercase;
    font-weight: normal;
    color: inherit;
}
#topbar li:hover{
    margin: -17px;
    padding: 20px 0px;
    background-color: rgb(181, 35, 35);
}

header .container .button,h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 0 0 0;
}

h1{
    font-family: "Metal Mania", system-ui;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    font-size: 85px;
}
header .container .button{
    width: 300px;
    margin: 44px auto 0;
    padding: 20px 0 20px 0;
    text-transform: uppercase;
    background: rgb(215,27,27);
    background: linear-gradient(90deg, rgba(215,27,27,1) 0%, rgba(235,81,81,1) 60%, rgba(255,162,162,1) 100%);
}


/* Tour */


#tour .container:nth-of-type(1){
    display:flex;
    justify-content: center;
    padding: auto 0;
    flex-wrap: wrap;
    gap: 35px 20px;
    
   
}
#tour .container:nth-of-type(1) h2{
    width: 100%;
    margin-top: 45px;
    text-transform: uppercase;
    text-align: center;
    font-size: 32px
}
.tour-card{
    display: flex;
    flex-direction: column;
    width: 205px;
    height: 210px;
    line-height: 25px;
    padding: 40px 10px 0px 10px;
    background-image: url(/Band_Landing/img/tour/madrid.jpg);
    background-size: cover;
    background-position-y: -15px;
}
#tour .container:nth-of-type(1) h3{
    text-transform: uppercase;
    font-weight: normal;
}
.tour-date{
    font-style: italic;
}
#tour .container:nth-of-type(1) .button{
    width: 180px;
    margin: 20px auto 0;
    padding: 10px 0 10px 0;
    text-align: center;
    text-transform: uppercase;
    background: rgb(215,27,27);
background: linear-gradient(90deg, rgba(215,27,27,1) 0%, rgba(235,81,81,1) 60%, rgba(255,162,162,1) 100%);
}

/* Gallery */



/* Subscribe */



/* Footer */


/* Global styles */



